* {
  max-width: 480px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #eff5fc;
}

body h1,
h2,
p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.block {
  height: fit-content;
  margin-top: 75px;
  margin-bottom: 75px;
}

/* Profile Block */

#profile {
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

#profile img {
  max-width: 75vw;
}

.logo img {
  max-width: 45vw;
  justify-items: center;
}

.picture {
  max-width: 100%;
}

#profile-description {
  padding-bottom: 0rem;
}

#profile-description h2 {
  font-size: 2rem;
  background-color: transparent;
  margin-bottom: 0;
}

#profile-description p {
  font-size: 1.25rem;
  background-color: transparent;
  margin-bottom: 0.5rem;
}

.father-quote p {
  background-color: transparent;
  font-size: 0.75rem;
  margin-top: 1rem;
}

/* Who We Are Block */

.family-pic {
  padding-top: 1rem;
}

.family-pic img {
  border-radius: 15px;
}

/* .who-we-are-description h2 {
  font-size: 2rem;
  background-color: transparent;
} */

.who-we-are-description p {
  font-size: 1.1rem;
  /* text-align: justify; */
  background-color: transparent;
}
/* Journey Block */

.journey-pic img {
  border-radius: 15px;
}

.journey-description,
h2,
p {
  background-color: #ffffff;
}

.journey-description h2 {
  font-size: 2rem;
}

.journey-description summary {
  background-color: transparent;
  font-size: 1.25rem;
}

.journey-description {
  /* border: #44576d solid 1px; */
  background-color: transparent;
  align-items: center;
  margin-top: 0;
}

/* .journey-description blockquote {
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: justify;
} */

/* Now Block */

.square-slider {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ffffff;
}

.square-pictures {
  background-color: #ffffff;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.square-picture {
  max-width: 335px;
  height: auto;
  background-color: #ffffff;
  flex-shrink: 0;
  overflow: hidden;
  scroll-snap-align: start;
  margin: 10px;
}

.square-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#right-arrow {
  display: flex;
  justify-content: end;
  background-color: #ffffff;
  padding-right: 1rem;
}

#portrait-cards {
  height: 100vh;
  background-color: #dfebf6;
  color: #44576d;
}

.portrait-cards-container {
  overflow: hidden;
  padding-left: 5px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}

.portrait-cards-container h1 {
  text-align: center;
  font-size: 2rem;
  background-color: #ffffff;
}

.pictures {
  background-color: #ffffff;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.picture {
  max-width: 340px;
  height: auto;
  background-color: #ffffff;
  flex-shrink: 0;
  border-radius: 30px;
  overflow: hidden;
  scroll-snap-align: start;
  margin: 10px;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.now-description {
  background-color: #ffffff;
}

.now-description h2 {
  font-size: 2rem;
  background-color: #ffffff;
}

.now-description blockquote,
footer,
cite {
  background-color: #ffffff;
  font-size: 1.25rem;
}

.now-description cite {
  font-weight: 700;
}

.now-description blockquote {
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: justify;
}

/* Why Partner Block */

.why-partner-description {
  background-color: #ffffff;
}

.why-partner-description h2 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.why-partner-description p {
  font-size: 1.25rem;
  text-align: justify;
}

/* accordion */

#accordion {
  background-color: #ffffff;
}

#accordion details,
summary {
  font-size: 1.5rem;
  background-color: #ffffff;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#accordion details blockquote {
  font-size: 1.2rem;
  background-color: #ffffff;
  text-align: justify;
}
